@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

:root {
    --lynch: #67708f;

    --white: #fff;
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --navheight: 65px;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Poppins, Montserrat, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-size: 18px;
    background-color: #293353;
    color: var(--white);
}

/* HEADER & NAVBAR */
header nav {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: var(--navheight);
    padding: 0 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222b45;
    /* Animasi hilang */
    transform: translateY(0);
    transition: all 0.5s;
}

/* Menghilangkan navbar */
nav.hidden {
    /* top: -64px; */
    /* Sesuaikan dengan tinggi navbar Anda */
    transform: translateY(-100%);
}

nav .logo {
    height: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
}

nav .logo svg {
    height: 55%;
}

.logo svg path:nth-child(2) {
    animation: shake 2s ease infinite;
}

nav .logo p {
    font-family: Pacifico;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.02em;
}

nav .menu {
    float: right;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

nav .menu a {
    position: relative;
    color: var(--white);
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;
}

nav .menu a:hover {
    color: var(--gray-300);
    background-color: #313a55;
}


/* burger menu */
.menu-toggle {
    display: none;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    height: 21px;
    justify-content: space-between;
}

.menu-toggle input {
    position: absolute;
    width: 50px;
    height: 35px;
    left: -11px;
    top: -5.8px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--white);
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(0px, -0.5px);
    transform-origin: 0 0;
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.menu-toggle input:checked~span:last-child {
    transform: rotate(-45deg) translate(-0.5px, 0px);
    transform-origin: 0 100%;
}










/* HOME SECTION */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
}

#home .slideshow {
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#home .slideshow .img {
    width: 100%;
    height: 100%;

    background-repeat: none;
    background-size: cover;
    background-position: center;
    animation: slideshow 25s ease infinite;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(41, 51, 84, 0.8));
    backdrop-filter: blur(5px);

}

#home .home-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(--navheight));
}

.home-content .container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 255, 255, 0.43); */
}

/* text content */
.home-content .text-content {
    position: relative;
    color: var(--white);
    /* filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3)); */

    /* animasi masuk */
    transform: translateX(-200%);
    opacity: 0;
    transition: all 1.5s;
}

.home-content p:nth-child(n) {
    margin: .2em 0;
}

.home-content .name p:nth-child(1) {
    font-weight: 700;
    font-size: 2em;
}

.home-content .name p:nth-child(2) {
    font-weight: 700;
    font-size: 2.66em;
}

.home-content .ima {
    font-weight: 700;
    font-size: 2em;

}

.home-content .im {
    color: #ff0040;
}

.home-content .typing {
    color: #1FA1B8;

}

.home-content .welcome {
    font-size: 1.3em;
}

/* social icon */
.social-icon {
    margin: 1.2em 0;
}

.social-icon ul {
    display: flex;
    gap: 15px;
}

.social-icon ul li {
    list-style: none;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 1000px;
    outline: 3px solid var(--white);
    overflow: hidden;
    transition: all .5s;
}

.icon-list:hover {
    width: 200px;
    cursor: pointer;
    outline: 3px solid #1FA1B8;
    filter: drop-shadow(0px 0px 5px rgba(31, 161, 184, 0.5));
}

.icon-list:hover a {
    color: #1FA1B8;
}

.icon-list:hover a span {
    display: block;
}

.icon-list a {
    font-size: 1.3em;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-list a span {
    display: none;
}

/* profile photo */
.home-content .profile-img {
    position: relative;
    width: 275px;
    height: 275px;
    cursor: pointer;

    /* animasi masuk */
    transform: translateX(200%);
    opacity: 0;
    transition: all 1.5s;
}

.profile-img .mask-circle {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.profile-img:hover .mask-circle {
    background-color: #7d5ba6;
}


#svgCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135%;
    height: 135%;
}

#svgCircle circle {
    transform: rotate(-90deg);
    transform-origin: center center;
    stroke: #1FA1B8;
}

.profile-img img[alt="head"] {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 135%;
    z-index: 2;
}

.profile-img img[alt="body"] {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 135%;
    height: 135%;
    object-fit: cover;
}



/* ABOUT SECTION */
#about {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #2c3859;
}

/* circle gradient */
#about .circle {
    border-radius: 10000px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#about .gradient1 {
    transform: translate(-5%, -50%);
    width: 20vw;
    height: 20vw;
    background: rgb(131, 58, 180);
    background: linear-gradient(65deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

#about .gradient2 {
    transform: translate(-125%, 10%);
    width: 17vw;
    height: 17vw;
    background: rgb(253, 29, 29);
    background: linear-gradient(65deg, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 0%, rgba(131, 58, 180, 1) 84%);
}

#about p {
    font-size: .85em;
}

#about .about-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100vh - var(--navheight));
    /* background-color: rgba(255, 0, 0, 0.293); */
}

#about .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about .about-me,
#about .stack {
    width: 40%;
    height: 80%;
    padding: 2em;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: justify; */
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .3);

    backdrop-filter: blur(5px);
    transition: all .3s;
}

#about .about-me:hover,
#about .stack:hover {
    transform: scale(1.01) translateY(-1%);
}

#about h1 {
    letter-spacing: .075em;
    font-weight: 600;
}

#about .line {
    width: 100%;
    height: 3px;
    margin: 0.5em 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#about .about-me p {
    margin: .3em 0;
    line-height: 1.65em;
    text-align: justify;
    /* display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden; */
}

.download-cv {
    margin: 1em 0;
}

.download-cv div {
    width: 150px;
    height: 35px;
    position: relative;
    color: var(--white);
    border-radius: 100px;
    outline: 3px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.download-cv p {
    transition: all 0.3s ease-in-out;

}

.download-cv i {
    position: absolute;
    background-color: #445589;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;

}

.download-cv:hover i {
    transform: translateY(0);
}

.download-cv:hover p {
    transform: translateY(100%);
}

/* stack */
.tech-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tech {
    width: 45%;
}

.tech .name {
    margin: .75em 0;
    margin-top: 1.3em;
    gap: 10px;
    display: flex;
    align-items: center;
}

.tech .name i {
    font-size: 1.3em;
    transition: all .2s ease-in-out;
}

.tech .bar {
    position: relative;
    font-size: .85em;
    width: 100%;
    height: 25px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

.tech .percentage {
    position: absolute;
    height: 25px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100px;
    background-color: #1FA1B8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html5:hover i {
    color: #e34f26;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.html5 .percentage {
    width: 80%;
}

.css:hover i {
    color: #1572B6;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.css .percentage {
    width: 85%;
}

.js:hover i {
    color: #F7DF1E;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}

.js .percentage {
    width: 83%;
}

.bootstrap:hover i {
    color: #7952B3;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.bootstrap .percentage {
    width: 75%;
}

.nodejs:hover i {
    color: #339933;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.nodejs .percentage {
    width: 85%;
}

.react:hover i {
    color: #61DAFB;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}

.react .percentage {
    width: 30%;
}

.laravel:hover i {
    color: #FF2D20;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.laravel .percentage {
    width: 25%;
}

.php:hover i {
    color: #1572B6;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
}

.php .percentage {
    width: 73%;
}







/* SERVICES SECTION */
#services {
    width: 100%;
    height: 100vh;
    background-color: #293353;
}

/* CONTACT SECTION */
#contact {
    width: 100%;
    /* - footer height */
    height: calc(100vh - 50px);
    background-color: #2c3859;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    background-color: #29324d;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #556bab;
}



/* RESPONSIVE BREAKPOINT */
/* tablet */
/* @media screen and (max-width: 768px) */
@media screen and (max-width: 950px) {
    body {
        font-size: 16px;
    }

    header nav {
        padding: 0 45px;
    }

    nav .logo p {
        display: none;
    }

    nav .menu {
        width: 70%;
    }

    /* home content */
    .icon-list {
        width: 30px;
        height: 30px;
        outline: 2px solid var(--white);

    }

    .icon-list a {
        font-size: 1em;
    }

    .icon-list:hover {
        width: 150px;
        outline: 2px solid #1FA1B8;
    }

    /* home content */
    .home-content .profile-img {
        width: 200px;
        height: 200px;
    }

    .home-content p:nth-child(n) {
        margin: 0.1em 0;
    }

    .home-content .name p:nth-child(1) {
        font-weight: 700;
        font-size: 1.7em;
    }

    .home-content .name p:nth-child(2) {
        font-weight: 700;
        font-size: 2.3em;
    }

    .home-content .ima {
        font-weight: 700;
        font-size: 1.7em;

    }

    .home-content .welcome {
        font-size: 1.1em;
    }

    /* about content */
    #about {
        height: 1200px;
    }

    #about .gradient1 {
        transform: translate(-5%, -80%);
        width: 30vw;
        height: 30vw;
    }

    #about .gradient2 {
        transform: translate(-100%, 60%);
        width: 17vw;
        height: 17vw;
    }

    #about .about-content {
        height: calc(100% - var(--navheight));
    }

    #about .container {
        flex-direction: column;
        padding: 50px 0;
        height: 100%;
        justify-content: space-around;
    }

    #about .about-me,
    #about .stack {
        width: 85%;
        height: 450px;
    }

    #about h1 {
        margin-bottom: .5em;
    }

    #about .line {
        display: none;
    }

    #about p {
        font-size: .95em;
        line-height: 1.5em;
    }

    .download-cv div {
        width: 125px;
        height: 30px;
        outline: 2px solid var(--white);
    }

    .tech .bar {
        width: 100%;
        height: 20px;
        outline: 2px solid rgba(255, 255, 255, 0.3);
    }

    .tech .percentage {
        height: 20px;
    }
}

/* mobile */
@media screen and (max-width: 576px) {

    header nav {
        height: 55px;
    }

    nav .menu {
        top: 55px;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 100;
        position: absolute;
        flex-direction: column;

        /* sembunyikan */
        scale: 0;
        opacity: 0;
        transform-origin: top center;
        transition: all 0.3s;
    }

    nav .logo p {
        display: block;
        font-weight: 500;
    }

    nav .menu.slide {
        scale: 1;
        opacity: 1;
    }

    nav .menu a {
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: #29324d;
        transition: all 0.2s;
    }

    .menu-toggle {
        display: flex;
    }

    /* start animation for menu list */
    nav .menu a:not(:first-child) {
        position: absolute;
        top: 0px;
        opacity: 0;
        transition: all .3s;
    }

    nav .menu a:first-child {
        position: absolute;
        z-index: 4;
    }

    nav .menu a:nth-child(2).slide {
        top: 49px;
        opacity: 1;
        z-index: 3;
    }

    nav .menu a:nth-child(3).slide {
        top: 98px;
        opacity: 1;
        z-index: 2;
    }

    nav .menu a:nth-child(4).slide {
        top: 147px;
        opacity: 1;
        z-index: 1;
    }

    /* end animation */


    /* home content */
    .home-content .container {
        width: 100%;
        gap: 50px;
        flex-direction: column;
    }

    .home-content .profile-img {
        width: 200px;
        height: 200px;
    }

    .home-content .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-content p:nth-child(n) {
        margin: 0.1em 0;
    }

    .home-content .name p:nth-child(1) {
        font-weight: 700;
        font-size: 1.5em;
    }

    .home-content .name p:nth-child(2) {
        font-weight: 700;
        font-size: 2em;
    }

    .home-content .ima {
        font-weight: 700;
        font-size: 1.5em;

    }

    .home-content .welcome {
        font-size: 1em;
    }

    /* about content */
    #about .about-content {
        height: calc(100% - 55px);
    }

    #about p {
        font-size: .8em;
        line-height: 1.5em;
    }

    .download-cv div {
        width: 125px;
        height: 30px;
        outline: 2px solid var(--white);
    }

    .tech .bar {
        width: 100%;
        height: 20px;
        outline: 2px solid rgba(255, 255, 255, 0.3);
    }

    .tech .percentage {
        height: 20px;
    }
}













/* ANIMATE */
@keyframes slideshow {
    0% {
        background-image: url(../assets/img/businessman1.jpg);
        transform: scale(1);
    }

    50% {
        background-image: url(../assets/img/businessman0.jpg);
        transform: scale(1.15);
    }

    100% {
        background-image: url(../assets/img/businessman1.jpg);
        transform: scale(1);
    }
}

@keyframes shake {

    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(8%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-8%);
    }

    100% {
        transform: translateX(0);
    }
}